/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.first-div{
  height: 720px;
  margin: 0;
  padding: 1px;
 
}

.left-div{
  width: 15%;
  height: 100%;
  background-color: #78A1DF;
}

.right-div{
  width: 84.8%;
  height: 100%;
  background-color:#ababab2b;
}

.p-data{
  background-color: #ababab2b;
}

#cal-data{
  background-color: #00b4f712;
}

.logo-div{
  width: 100%;
  height: 20%;
  margin: 0; 
}

.container{
  padding: 0;
  margin-top: 1px;
}

a{
  text-decoration: none;

}

ul{
  list-style-type: none;
}

.div-home{
  border-radius: 30px;
  background-color: rgb(255 255 255 / 70%);
}

#span1{
  background-color: #ffcaca7b;
}

#span2{
  background-color: rgba(11, 88, 6, 0.312);
}

#span3{
  background-color: rgba(95, 158, 160, 0.514);
}

.span-elem{
  border-radius: 100%;
  width: 75px;
  height: 75px;
}

.ap-remind{
  border-radius: 30px;
}

.appoint-div{
  background-color: rgba(0, 255, 102, 0.148);
}

.ter-div{
  --bs-bg-opacity: .6;
}

.div-termini{ 
  width: 240px;
  background-color: #44b88f6e;
}

.profil-photo{
  border-radius: 100%;
}

.termini-card{
  width: 230px;
  background-color: #0366d6d4;
  text-align: center;
  border-radius: 5%;
}

.termini-card:hover{
  background-color: #0253b0;
  width: 245px;
}

.scroll-table{
  max-height: 550px;
  overflow-x: scroll;
}

.div-terminat{
  max-height: 550px;
  overflow-x: scroll;
}

.scroll-form{
  max-height: 590px;
  overflow-x: scroll;
}

.scroll-form input{
  font-size: larger;
}

.form-floating-group input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.login-div{
  height: 600px;
}